<html>

    <head>
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!--My Css-->
    <link rel="stylesheet" type="text/css" href="css/form.css">

    <title>RAD-Seq</title>

    </head>

    <body style="background-color: rgba(210,210,210,1);">

        <%- include ('partials/nav.ejs', {page: 'root'}) %>

        <form action="/results" class="myForm" method="post">
            <div style="text-align:center">
                <h1 style="margin-bottom: 40px; font-weight: bold;">RAD-Seq Fragment Analysis</h1>

                <h4 style="font-weight: bold;">Genome</h4>
                <div>
                    <select class="myDropDown" name="genome" id="genome">
                        <option>Largemouth Bass</option>
                        <option>N/A</option>
                        <option>N/A</option>
                    </select>
                </div>

                <h4 style="font-weight: bold;">Restriction Enzyme</h4>
                <div>
                    <select class="myDropDown" name="enzyme" id="enzyme">
                        <option>AgeI</option>
                        <option>ApoI</option>
                        <option>BsrFI</option>
                        <option>EcoRI</option>
                        <option>FatI</option>
                        <option>KpnI</option>
                        <option>MluCI</option>
                        <option>MseI</option>
                        <option>MspI</option>
                        <option>NcoI</option>
                        <option>NgoMIV</option>
                        <option>NotI</option>
                        <option>NsiI</option>
                        <option>NspI</option>
                        <option>PciI</option>
                        <option>PstI</option>
                        <option>SbfI</option>
                        <option>SgrAI</option>
                    </select>
                </div>

                <h4 style="font-weight: bold; display: inline;">Slice Probability</h4><label>(0.01 - 1.00)</label>
                <div>
                    <input type="number" name="probability" id="probability" step="0.01" class="myNumberInput" value="0.95" min="0.01" max="1.00" onchange="updateToFixed()">
                </div>
                <% if(error){ %>
                    <li style="text-align:center; font-weight: bold; color: red;"><%=errorMessage%></li>
                <% } %>
                <input name="submit" class="post-btn" type="submit" style="font-weight: bold;" value="Get Analysis" />
            </div>
        </form>


        <script>
            function updateToFixed(){
                let value = parseFloat(document.getElementById("probability").value);
                if(!isNaN(value) && value >= 0.01 && value <= 1.00){
                    document.getElementById("probability").value = value.toFixed(2);
                }
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>


</html>
