<link rel="stylesheet" type="text/css" href="css/nav.css">

<nav class="navbar navbar-expand-lg" style = "position:fixed; top: 0px; background:rgb(226, 226, 226);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <a class="navButton" href='/'>Home</a>
        </li>
        <% if (user) { %>
        <li>
          <a class="navButton" href='/upload'>Upload</a>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(!user) { %>
          <li>
            <a class="navButton" href='/register'>Register</a>
          </li>
          <li>
            <a class="navButton" href='/login'>Log In</a>
          </li>
        <% } else { %>
          <li>
            <div class="btn-group">
              <button type="button" class="navButton dropdown-toggle" style="margin-right: 20px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/change_email">Change email</a>
                <a class="dropdown-item" href="/change_password">Change password</a>
                <a class="dropdown-item" href="/logout">Sign out</a>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
</nav>