<div class="rad-shadow display-none" id="infoShadow"></div>
<div class="rad-popup-box display-none" id="analysisInfoPopup">
    <div class="rad-popup-header">
        <h4>Analysis Properties</h4>
    </div>
    <div class="rad-popup-body">
        <div class="rad-popup-content">
            <h1>Page Load popup</h1> 
            <p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Advertise your ads Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laboreet.</p>
        </div>
    </div>
    <div class="rad-popup-footer">
        <button class="btn btn-primary rad-popup-close-btn" type="button" onclick="closeAnalysisInfoPopup()">Close</button>
    </div>
</div>


<div class="rad-popup-box display-none" id="graphInfoPopup">
    <div class="rad-popup-header">
        <h4>Graph Properties</h4>
    </div>
    <div class="rad-popup-body">
        <div class="rad-popup-content">
            <h1>Page Load popup</h1> 
            <p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Advertise your ads Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laboreet.</p>
        </div>
    </div>
    <div class="rad-popup-footer">
        <button class="btn btn-primary rad-popup-close-btn" type="button" onclick="closeGraphInfoPopup()">Close</button>
    </div>
</div>



<script>
    function closeAnalysisInfoPopup(){
        document.querySelector("#analysisInfoPopup").style.display = "none";
        document.querySelector("#infoShadow").style.display = "none";
    }

    function showAnalysisInfoPopup(){
        document.querySelector("#analysisInfoPopup").style.display = "block";
        document.querySelector("#infoShadow").style.display = "block";
    }

    function closeGraphInfoPopup(){
        document.querySelector("#graphInfoPopup").style.display = "none";
        document.querySelector("#infoShadow").style.display = "none";
    }

    function showGraphInfoPopup(){
        document.querySelector("#graphInfoPopup").style.display = "block";
        document.querySelector("#infoShadow").style.display = "block";
    }
</script>