rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /genomes/{genomesDoc} {
      allow read, write: if request.auth.uid == genomesDoc;
    }
    match /restriction_enzymes/{restrictionEnzymeDoc} {
      allow read, write: if request.auth.uid == restrictionEnzymeDoc;
    }
  }
}