body {
	background-size: cover;
    padding-top:100px;
}

.myForm{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding:30px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    background-clip: padding-box;
    background: rgb(226, 226, 226);
    box-shadow: 0 0 18px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

.post-btn {
	width: 138px;
	height: 44px;
    border: 1px solid #253737;
    background: linear-gradient(#6da5a3, #416b68);
    border-radius: 6px;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
    margin-top: 30px;
}

.post-btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: linear-gradient(#77b2b0, #416b68);
    color: #fff;
    margin-top: 30px;

 }

.post-btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: linear-gradient(#416b68, #6da5a3);
    color: #fff;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    margin-top: 30px;
}



.myDropDown
{
    height: 40px;
    width: 300px;
    overflow: auto;
    margin-bottom: 20px;
}

.myNumberInput
{
    margin-bottom: 20px;
}