body {
    padding-top:100px;
    background-color: rgba(210,210,210,1);
}

.myForm{
    text-align: left;
    margin-top: 50px;
    padding: 50px;
    display: inline-block;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 60px;
    background: rgb(240, 240, 240);
    box-shadow: 0 0 18px 3px rgba(0,0,0,.5);
    overflow: hidden; 
    margin-bottom: 100px;
}

.form-button {
    min-width: 138px;
    min-height: 44px;
	width: auto;
	height: auto;
    border: 1px solid #253737;
    background: linear-gradient(#6da5a3, #416b68);
    border-radius: 6px;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
    margin-top: 30px;
}

.form-button:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: linear-gradient(#77b2b0, #416b68);
    color: #fff;
    margin-top: 30px;

 }

.form-button:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: linear-gradient(#416b68, #6da5a3);
    color: #fff;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    margin-top: 30px;
}



.myDropDown
{
    height: 40px;
    width: 300px;
    overflow: auto;
}

.myNumberInput
{
    margin-bottom: 20px;
}

.card-header{
    padding-top: 2px;
    padding-bottom: 2px;
}