collapse{
    z-index: 0;
}


nav{
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    width: 100%;
}

.navButton{
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 5px;
}

.navButton:hover {
    border: 1px solid #253737;
    background: lightgray;
 }

 .navButton:active{
    background: linear-gradient(#77b2b0, #416b68);
 }

 .borderless{
     border: none;
 }