/* Global selectors */
body {
    background-color: rgba(210,210,210,1);
}


/* Aligning Tools */
.margin-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin-left{
    margin-left: auto;
}

.inner-center{
    display: block;
    text-align: center;
}


/* Form Classes */

.rad-form-header{
    text-align: center;
    font-weight: bold;
}


.rad-form-footer-card{
    text-align: center;
    background: rgb(240, 240, 240);
    overflow: hidden; 
}

.rad-form{
    width: 40%;
    min-width: 500px;
    max-width: 600px;
    height: auto;
    margin: 150px auto 20px;
    display: block;
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 60px;
    background: rgb(240, 240, 240);
    box-shadow: 0 0 18px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}



.rad-form-button {
    font-weight: bold;
    min-width: 138px;
    min-height: 44px;
	width: auto;
	height: auto;
    border: 1px solid #253737;
    background: linear-gradient(#6da5a3, #416b68);
    border-radius: 15px;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
    margin-top: 30px;
}

.rad-form-button:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: linear-gradient(#77b2b0, #416b68);
    color: #fff;
 }

.rad-form-button:active {
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: linear-gradient(#416b68, #6da5a3);
    color: #fff;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
}

.rad-form-input{
    margin-top: 15px;
    width: 100%; 
}

.rad-form-input-inline{
    margin-top: 15px;
    width: 55%;
}

.rad-form-dropdown{
    width: 60%;
}

.rad-form-inner{
    padding: 50px;
    text-align: left;
    width: auto;
}


.rad-form-error-li{
    text-align:center; 
    font-weight: bold; 
    color: red;
}

.rad-form-hr{
    border-top: 3px solid #bbb;
    width: 100%;
}

.rad-form-input-label{
    display: inline-block; 
    width: 35%; 
    margin-top: 20px; 
    font-weight: bold;
}

.rad-upload{
    align-items: center; 
    justify-content: center; 
    margin-top: 30px;
}

.rad-upload-label{
    display: inline; 
    margin-right: 10px; 
    font-weight: bold;
}

/* navbar styles */

.navbar{
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    padding-left: 1rem;
    padding-right: 2rem;
}

.nav-button{
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    border: 2px solid transparent;
}

.nav-button:hover {
    border: 2px solid rgba(255,255,255,.5);
    background: linear-gradient(#77b2b0, #416b68);
 }

 .nav-button:active{
    background: linear-gradient(#416b68, #6da5a3);
 }

 .borderless{
     border: none;
 }

 .nav-dropdown-button{
    text-decoration: none; 
    color: rgba(255,255,255,.5);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    text-decoration: none; 
 }

 .nav-dropdown-button:hover{
    background: linear-gradient(#77b2b0, #416b68);
    border: 2px solid rgba(255,255,255,.5);
    color: white;
    text-decoration: none;
 }



 .nav-dropdown-button:active{
    background: linear-gradient(#416b68, #6da5a3);
    text-decoration: none;
 }

 .nav-dropdown-button:focus{
     border: 2px solid #6da5a3;
     box-shadow: none;
     text-decoration: none;
 }