<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!--My CSS-->
        <link rel="stylesheet" type="text/css" href="css/styles.css">

        <title>RAD-Seq</title>

    </head>

    <body>


        <script type="module" src="js/init_firebase.js"></script>


        <%- include ('partials/nav.ejs', {page: 'upload'}, user) %>


        <div class="card rad-card margin-center">
            <div class="rad-card-header">
                <h3 class="card-title rad-form-header">Upload</h3>
            </div>
            <hr>
            <div class="card-body rad-card-body">
                <p id="error" class="rad-error-message text-center" style="display: none;"></p>               
                <form>
                    <div class="form-group">
                        <label for="select_type">Upload Type: </label>
                        <div class="input-group">
                            <select class="form-control" id="select_type">
                                <option>Restriction Enzyme</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="enzyme_name">Name:</label>
                        <div class="input-group">
                            <input class="form-control" id="enzyme_name" name="enzyme_name" type="text">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="restriction_site">Restriction Site:</label>
                        <div class="input-group">
                            <input class="form-control" id="restriction_site" name="restriction_site" type="text">
                        </div>
                    </div>
                    <hr>
                    <div class="rad-load-block" style="display: none;" id="rad_upload_block">
                        <h5 class="rad-load-label">Uploading</h5>
                        <div class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <button class="rad-form-button margin-center" type="button" id="upload_button" onclick="uploadEnzyme();">Upload</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            /* Input Elements */
            var enzymeName = document.getElementById("enzyme_name");
            var restrictionSite = document.getElementById("restriction_site");

            /* Form Elements */
            var radUploadBlock = document.getElementById("rad_upload_block");
            var uploadButton = document.getElementById('upload_button');
            var error = document.getElementById('error');

            /*Data from Server*/
            var DOC_NAME = '<%= user.uid%>';
            var USER_UID = '<%= user.uid %>';

            window.onload = () => {
                FirebaseController.signIn("<%= userToken %>");
            };

        
            async function uploadEnzyme(){

                error.style.display = "none";
                uploadButton.style.display = "none";
                radUploadBlock.style.display = "flex";

                try{
                    await FirebaseController.uploadRestrictionEnzyme(enzymeName.value, restrictionSite.value);
                } catch(e) {
                    error.style.display = "block";
                    error.innerHTML = `${e}`;
                }
                console.log("done");
                uploadButton.style.display = "block"
                radUploadBlock.style.display = "none";
            }

        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script type="module" src="js/firebase_controller.js"></script>  

    </body>
</html>