<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!--My CSS-->
        <link rel="stylesheet" type="text/css" href="css/form.css">

        <title>RAD-Seq</title>

    </head>

    <body style="background-color: rgba(210,210,210,1);">


        <script type="module" src="js/init_firebase.js"></script>


        <%- include ('partials/nav.ejs', {page: 'upload'}, user) %>

        <form class="myForm" method="POST">
            <div style="text-align:center">
                <h3 style="font-weight: bold;">Upload</h3>
            </div>
            <label style="display: inline-block; width: 150px; margin-top: 30px; font-weight: bold;" for="selectType">Upload Type: </label>
            <select id="selectType" name="selectType" value="Genome" style="width: 300px" onchange="onTypeChange()">
                <option>Genome</option>
                <option>Restriction Enzyme</option>
            </select>
            <br>

            <label style="display: inline-block; width: 150px; margin-top: 20px; font-weight: bold;" for="name">Name:</label>
            <input style="width: 300px" id="selectionName" name="selectionName" type="text">
            <br>
            <label id="genomeFileLabel" for="genomeFileInput" style="display: inline-block; width: 150px; margin-top: 20px; font-weight: bold;">Genome File:</label>
            <input id="genomeFileInput" name="genomeFileInput" type="file">
            <label id="rsLabel" for="rsInput" style="display: inline-block; width: 150px; margin-top: 20px; font-weight: bold;" hidden>Restriction Site:</label>
            <input id="rsInput" name="rsInput" style="width: 300px" type="text" hidden>
            <br>

            <input name="type" value="Genome" id="type" name="type" hidden>

            <div style="text-align: center;">
                <input type="button" id="submitButton" class="post-btn" style="font-weight: bold" value="Upload">
            </div>
        </form>

        <script>
            var selectType = document.getElementById("selectType");
            var rsLabel = document.getElementById("rsLabel");
            var rsInput = document.getElementById("rsInput");
            var genomeFileLabel = document.getElementById("genomeFileLabel");
            var genomeFileInput = document.getElementById("genomeFileInput");
            var type = document.getElementById("type");
            var selectionName = document.getElementById("selectionName");
            var GENOME_FOLDER = "genomes/" + '<%= user.uid%>' + "/"
            var DOC_NAME = '<%= user.uid%>';
            function onTypeChange(){
                let value = selectType.value;

                if(value === "Genome"){
                    rsLabel.hidden = true;
                    rsInput.hidden = true;
                    genomeFileLabel.hidden = false;
                    genomeFileInput.hidden = false;
                    type.value = "Genome";
                } else if(value === "Restriction Enzyme") {
                    genomeFileLabel.hidden = true;
                    genomeFileInput.hidden = true;
                    rsLabel.hidden = false;
                    rsInput.hidden = false;
                    type.value = "Restriction Enzyme";
                }
            }

        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script type="module" src="js/upload_data.js"></script>


    </body>
</html>