

<link rel="stylesheet" type="text/css" href="css/nav.css">
<script src="js/gotoLink.js"></script>

<nav class="navbar navbar-expand-lg" style = "position:fixed; top: 0px; background:rgb(226, 226, 226);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <button class="navButton" onclick="gotoLink('/')">Home</button>
        </li>
        <li>
          <button class="navButton" onclick="gotoLink('/upload')">Upload</button>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(!user) { %>
          <li>
            <button class="navButton" onclick="gotoLink('/register')">Register</button>
          </li>
          <li>
            <button class="navButton" onclick="gotoLink('/login')">Log In</button>
          </li>
        <% } else { %>
          <li>
            <div class="btn-group">
              <button type="button" class="navButton dropdown-toggle" style="margin-right: 20px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Edit email</a>
                <a class="dropdown-item" href="#">Edit password</a>
                <a class="dropdown-item" href="/logout">Sign out</a>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
</nav>